html {
  background-color: #fed;
  height: 100%;
}
body {
  font-family: sans-serif;
  border-radius: 12px;
  background-color: white;
  margin: 0 auto;
  border: 1px solid gray;
  margin-top: 100px;
  padding: 12px;
  width: 600px;
  overflow: hidden;
}
h1 {
  text-align: center;
}
.screen {
  min-height: 300px;
  display: none;
  position: relative;
}
#start-game-button {
  display: block;
  text-decoration: none;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  font-size: 1.2em;
  background-color: black;
  color: white;
  width: 150px;
  position: absolute;
  bottom: 30px;
  left: 225px;
}
#start-game-button:visited,
#start-game-button:active,
#start-game-button:hover {
  color: white;
}
.badge {
  height: 95px;
  width: 95px;
  margin-right: 5px;
  cursor: pointer;
}
