html {
  background-color: #fed;
  height: 100%;
}
body {
  border-radius: 1em;
  background-color: white;
  margin: 0 auto;
  border: 1px solid gray;
  margin-top: 200px;
  width: 600px;
}
h1 {
  text-align: center;
}
.screen {
  height: 300px;
}
.badge {
  height: 95px;
  width: 95px;
  margin-right: 5px;
  cursor: pointer;
}
